body{
    background:#0f1117;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}
.wrapper {
    text-align: center;
}
.nama, .email, .password {
    margin-bottom: 14px;
}
.struk-box {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(180deg, #181818, #111, #000);
    box-shadow: 0px 0px 10px #ffc400;
    border: 1px solid #ffc400;
}

.logo {
    width: 70px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 0px 6px #ffc400);
}

h2 {
    margin: 5px 0 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: #ffc400;
}

* {
    box-sizing: border-box;
}

.auth-box{
    background:#1a1d24;
    padding:28px;
    border-radius:10px;
    width:100%;
    max-width:360px;
    text-align:center;
    color:rgb(255, 255, 2);
    border:1px solid #3b3f4a;
}

.auth-box form {
    display:flex;
    flex-direction:column;
    gap:14px;
}

.auth-box input{
    width:100%;
    padding:14px 12px;
    border-radius:8px;
    margin: 0;
    border:1px solid #444;
    background:#2a2f39;
    color:rgb(255, 255, 255);
    font-size: 16px;
}

button{
    width:100%;
    padding:14px 12px;
    border:none;
    background:#f6c553;
    cursor:pointer;
    color:white;
    border-radius:8px;
    font-size:16px;
}

button:hover{
    background:#f6c453;
}

.auth-box p a {
    color: #ff0000;
    text-decoration: none;
}

.auth-box p a:hover {
    color: #ff00004d;
    text-decoration: underline;
}
